.cidashnavbar {
  padding-bottom: 15%;
  background-color: #000032;
  margin-bottom: 0px;
  width: 17.5rem;
  height: 3rem;
  background-image: linear-gradient(
    90deg,
    #030372 0%,
    #000032 29%,
    #030372 67%,
    #000032 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  animation: textclip 2s linear infinite;
  display: inline-block;
  padding: 2%;
  border-radius: 78px 78px 0 0;
}
.cidashFooter {
  margin-top: 5px;
  padding-bottom: 15%;
  background-color: #000032;
  margin-bottom: 0px;
  width: 17.8rem;
  height: 3rem;
  background-image: linear-gradient(
    90deg,
    #030372 0%,
    #000032 29%,
    #030372 67%,
    #000032 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  animation: textclip 2s linear infinite;
  display: inline-block;
  padding: 2%;
  border-radius: 0 0 78px 78px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.navigationbtn {
  height: 2rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}
.arrowIcons {
  color: #000032;
  font-size: 25px;
  margin-top: 8px;
}
.arrowIcons:hover {
  color: #f3c001;
  font-size: 25px;
  margin-top: 8px;
  transition: 0.5s;
  transform: scale(1.07);
}
.navigationDiv {
  margin-top: 2px;
}
.pageTitle {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fbc501 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
}
.ticketGenarator {
  margin-top: 1rem;
}
.titleUsername {
  font-size: 30px;
  color: #f3c001;
}
.tableHeadforC {
  background-color: #f3c001;
  color: #000032;
}
.table {
  width: 100%;
  border: 1px solid $color-form-highlight;
}

.table-header {
  display: flex;
  width: 100%;
  background: #f3c001;
  padding: ($half-spacing-unit * 1.5) 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;

  &:nth-of-type(odd) {
    background: $color-form-highlight;
  }
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
.nextDiv {
  margin-top: 3rem;
}
.nextDiv2 {
  margin-top: 1rem;
}

.header__item {
  text-transform: uppercase;
}
.navigationDiv {
  width: 100%;
  height: auto;
  background-color: #f3c001;
  color: #000032;
  margin-left: 0.1rem;
  border-radius: 15px;
  padding: 10px;
}
.col-nav-div {
  background-color: #f3c001;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  justify-content: center;
  color: #000032;
  padding: 10%;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(0.9);
}
.col-nav-div:hover {
  background-color: #f3c001;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  justify-content: center;
  color: #000032;
  padding: 10%;
  margin-bottom: 3px;
  transition: 0.5s;
  transform: scale(0.8);
  justify-content: center;
  align-items: center;
  display: flex;
}
.col-nav-div-active {
  background-color: #f3c001;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  justify-content: center;
  color: #000032;
  padding: 10%;
  margin-bottom: 3px;
  transition: 0.5s;
  transform: scale(0.8);
  justify-content: center;
  align-items: center;
  display: flex;
}
.iconImage {
  height: 35px;
  width: 35px;
}
.QRcard {
  margin-top: 5rem;
  height: 24rem;
  width: 16rem;
}
.qrcodeButton {
  margin-top: 3rem;
  background-color: #f3c001;
  width: 8rem;
  height: 8rem;
  padding: 5%;
  border-radius: 5px;
  color: #000032;
}
.qrcodeButton:hover {
  margin-top: 3rem;
  background-color: #000032;
  width: 8rem;
  height: 8rem;
  padding: 5%;
  border-radius: 5px;
  color: #f3c001;
  border: #f3c001;
  border-width: 25px;
  border-radius: 5px;
}
.qrbutton-text {
  color: #000032;
}
.qrbutton-text:hover {
  color: #f3c001;
}
.btn-Checkout-form {
  height: 50px;
  width: 70%;
  background-color: #f3c001;
  color: #000032;
  border-radius: 5px;
  font-size: 15px;
  padding: auto;
}
.btn-Checkout-form:hover {
  background-color: transparent;
  border-color: #f3c001;
  border-style: solid;
  border-width: 3px;
  color: #f3c001;
  border-radius: 5px;
}
.icon-inside-form {
  width: 150px;
  height: 150px;
}
.title-for-expense-form {
  font-size: 25px;
  color: #f3c001;
}
.other-expence-card {
  margin-top: 5px;
}
.QRresult {
  width: 100%;
  height: 4rem;
  background-color: #000032;
  color: #f3c001;
  font-size: 1rem;
  font-weight: 400;
}
